@use "gaudiamus-css/scss/components/operations" as ops;
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;400;600&display=swap');
html, body, #app{
  height: 100%;
  color: #575151;

}
body{
  background: radial-gradient(circle, rgba(236, 236, 236, 0.68), white);
  max-height: 100vh;
}
#app{
  max-height: 100vh;
  display: flex;
  flex-basis: 0;
  flex-direction: column;
  font-family: 'Mukta', sans-serif;

}
@keyframes wiggle {
  0% { transform: translateX(0); }
  25% { transform: translateX(-2px); }
  50% { transform: translateX(0px)}
  75% { transform: translateX(2px)}
  100% { transform: translateX(0) }
}

.grow{
  transform: scale(1.1);
}
@include ops.generate-states("grow", $state-map);

.font-center{
  text-align: center;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $gray;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $primaryColor;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $accentColor;
}