.btn{
  text-transform: uppercase;
  @extend .b-rounded, .b-1, .b-transparent, .raise-1-gray, .p-x-3, .p-y-2, .text-white, .cursor-pointer;
}
.clickable{
  @extend .b-0, .text-primary, .cursor-pointer, .font-default;
}
@each $name, $color in $color-map{
  .btn-#{$name}{
    @extend .btn, .bg-#{$name}, .hover\:b-#{$name}, .hover\:bg-white, .hover\:text-#{$name};
    &:hover{
      transform: scale(1.1);
      transition: transform 200ms;
    }
  }
}
button.btn-fab{
  @extend .b-rounded-3;
}
