$accentColor: #ad30b6;
$white: #fff;
$height-width-value-map:("25", "30", "50", "75", "100");
$opacity-map:(
        "25": .25,
        "50": .5,
        "75": .75,
        "85": .85,
        "90": .9,
        "95": .96,
)
